
/*--- Button ---*/
// 사용예시: <button class="btn md disabled">파란 버튼</button>
.btn {
  border: none;
  color: #fff;
  font-weight: bold;
  background-color: $primary-lighten-1;

  &:hover {
    background-color: $primary;
  }

  &.sm {
    height: 24px;
    width: 72px;
    border-radius: .24rem;
    font-size: 12px;
  }
  &.md {
    height: 32px;
    width: 96px;
    border-radius: .32rem;
    font-size: 13px;
  }
  &.lg {
    height: 40px;
    width: 120px;
    border-radius: .4rem;
    font-size: 16px;
  }
  &.xl {
    height: 48px;
    width: 144px;
    border-radius: .48rem;
    font-size: 18px;
  }


  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}