// Color 
$primary: #9c27b0;
$primary-lighten-1: #BC37D3;
$primary-lighten-2: #ca61dc;
$primary-lighten-3: #d88be5;
$primary-lighten-4: #e6b4ee;
$primary-lighten-5: #f4def8;

$primary-darken-1: #771E86;
$primary-darken-2: #52145c;
$primary-darken-3: #2d0b33;

$gray-scale-0: #f2f2f2;
$gray-scale-1: #e6e6e6;
$gray-scale-2: #cccccc;
$gray-scale-3: #b3b3b3;
$gray-scale-4: #999999;
$gray-scale-5: #808080;
$gray-scale-6: #666666;
$gray-scale-7: #4d4d4d;
$gray-scale-8: #333333;
$gray-scale-9: #1a1a1a;

// Font Size
$font-size-sm: 8px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$font-size-xxl: 40px;






